
<div class="container">
<div class="row">
<br>
	<h1 style="width:100%; text-align: center;">ASFB Funding Proposal</h1>
	<br>
</div>
<div class="row">
	<div class="col-md-12" style="text-align: center;">
			<%= image_tag "dw.jpg", :style => "width: 64%;margin: 0 auto;" %>
	</div>
</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10" >
			<br>
			<p style="font-size: 18px !important;">We are an interdisiplanry team of over 20 students competing in SpaceX's Hyperloop Pod Competion for our senior engineering capstone project.</p>
			<p style="font-size: 18px !important;">The Hyperloop is a proposal by SpaceX & Tesla CEO Elon Musk for a new mode of transportation that would travel at speeds faster than commercial jets, though without leaving the ground. It can go this fast becuase it rides through a near vacuum tube on air barings or mag-lev (which our disign uses). The original proposal suggested the use case of travepng from LA to SF in under 40min.</p>
			<p style="font-size: 18px !important;">The competition involves designing and building a 1/4 scale pod (ours is 13 feet).</p>
			<p style="font-size: 18px !important;">Orginally there were over 1000 teams that entered the competition last summer. Our team was then selected as one of 77 to attend Design Weekend at Texas A&M University. We left Texas as one of 30 teams in the world selected to compete on the 1 mile long test track at SpaceX HQ in Hawthorne this August.</p>
			<p style="font-size: 18px !important;">We have raise over $40K in funds from companies and other organizations but the costs of building and testing has increased with competitoin rule changes and suggestions from our SpaceX advisor engineer. Additionally, the more funding we get, the more we can test our pod before the competition.</p>
			<p style="font-size: 18px !important;"><strong>We are seeking a $3,000 contribution from Associated Students to contribute to our materials, transportation, and testing equipment.</strong> The precise expeditures that the funds go to depends on exaclty when we have them. you can view the priority of our expenditures in the budget pnked below. As you'll see, we are about $10,000 short of our estimated final cost. You can brouse through the other sheets for deatils on our bill of materials.</p>
			<p style="font-size: 18px !important;">We think this competition will be a fantastic way to add to UCSB's reputation on a world stage.</p>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<a class="btn btn-success btn-lg btn-block" href="https://docs.google.com/spreadsheets/d/1pA05YU_u9caDS1Tz6zPwqy0qAqTcooMZ4Yn5h1F3KW4/edit?usp=sharing" target="_blank">VIEW OUR BUDGET</a>
		</div>
		<div class="col-md-6">
			<a class="btn btn-primary btn-lg btn-block" href="http://www.spacex.com/hyperloop" target="_blank">READ ABOUT THE COMPETITION</a>
		</div>
	</div>
	<div class="row">
		<br>
		<br>
	</div>

</div>


