<div style="width: 90%; max-width: 550px; margin: 20px auto">
	<h3><%= @post.title %></h3>
	<p><em><%= @post.created_at.strftime('%m/%d/%Y') %></em></p>
	<article>
		<%= @post.text.html_safe %>
	</article>
</div>
