@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "welcome";
@import "blog";

body {
	background-color: #fffcff;
}

.navbar {
	background-color: #0c5e96;
	margin: 0;
	border: none;

	a {
		color: white;

		&:hover, &:active {
			color: #0c5e96;
		}

	}

	li.active {

		a {
			background-color: #eeeeee;
			color: #0c5e96;
		}

	}

}


a:hover, a:focus, a:active {
	color: #fcb52b;
}

.col-md-6 img {
	max-width: 70%;
}

.col-md-12 img {
	max-width: 100%;
}

#hero span {
	font-size: 0.7em;
	color: #ccc;
	margin: 2px;
}

footer {
	padding-top: 20px;
	box-sizing: border-box;
	background-color: #0c5e96;
	height: 200px;

	h3 {
		color: white;
		display: block;
	}

	a {
		color: white;
	}

}

.icon-bar {
	background-color: white;
}

a.navbar-brand {
	color: white;

	&:hover, &:active {
		color: white;
	}

}

@media all and (max-width: 500px) {
	body {
		font-size: 0.9em;
	}
}
