/* 
 *= require owl.carousel
 *= require owl.theme
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "welcome";
@import "posts";

body {
	background-color: #fffcff;
}

.navbar {
	background-color: #0c5e96;
	margin: 0;
	border: none;

	a {
		color: white;

		&:hover, &:active {
			color: #0c5e96;
		}

	}

	li.active {

		a {
			background-color: #eeeeee;
			color: #0c5e96;
		}

	}

}


a:hover, a:focus, a:active {
	color: #fcb52b;
}

.col-md-6 img, .col-md-4 img {
	max-width: 80%;
}

#as-image, #crows-image {
	width: 27%;
	margin-top: 30px;
}



.col-md-12 img {
	max-width: 100%;
}

footer {
	padding-top: 20px;
	box-sizing: border-box;
	background-color: #0c5e96;
	height: 200px;

	h3 {
		color: white;
		display: block;
	}

	a {
		color: white;
	}

}

.icon-bar {
	background-color: white;
}

a.navbar-brand {
	color: white;

	&:hover, &:active {
		color: white;
	}

}

.ppc-percents {
	background-color: #fffcff !important;
}
