#welcome-container {
	width: 100%;
	margin: 0;
	padding: 0;
	width: 100% !important;
}


#hero {
	background: image-url("hyperloop.jpg") no-repeat;
	background-size: 100%;
	width: 100%;

	span {
		font-size: 0.7em;
		color: #ccc;
		margin: 2px;
	}

}

#hero-content {
	width: 100%;
	height: 100%;
	display: flex;
  flex-direction: column;
  justify-content: center;

	h1 {
		margin: 0 auto;
		width: 100%;
		text-align: center;
		color: #f1ba2c;
		font-weight: 200;
		font-size: 3.4em;
		letter-spacing: 1.1em;
	}

}

.cells {
	text-align: center;
	margin-bottom: 100px;

	h2 {
		color: #0c5e96;
		margin: 70px 0 40px 0;
	}

	p {
		font-size: 1.2em;
	}
}

#team-title {
		text-align: center;
		width: 100%;
		color: #0c5e96;
		font-size: 3.0em;
		margin: 30px 0 30px 0; 
}

.owl-carousel {
	
}

.slide {
	
	background-color: #0c5e96;
	text-align: center;
	width: 100%;

	img {
		width: 800px;
		max-width: 100%;
		border: none;
	}

}

.owl-carousel {
	img {
		max-width: 80%;
	}
}

.team {

	h3 {
		color: #0c5e96;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	ul {
		padding: 0;
	}

	li {
		list-style: none;
		color: #666;
		font-size: 1.2em;
	}

}

h4 {
	color: #0c5e96;
}

@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

$size: 200px;
.progress-pie-chart {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  &.gt-50 {
    background-color: #0c5e96;
  }
}

.ppc-progress {
  @include circle($size);
  clip: rect(0, $size, $size, #{$size/2});
  .ppc-progress-fill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    background: #0c5e96;
    transform: rotate(60deg);
  }
  .gt-50 & {
    clip: rect(0, #{$size/2}, $size, 0);
    .ppc-progress-fill {
      clip: rect(0, $size, $size, #{$size/2});
      background: #0c5e96;
    }
  }
}
.ppc-percents {
  @include circle(#{$size/1.15});
  background: #fff;
  text-align: center;
  display: table;
  span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #0c5e96;
  }
}
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 50px auto 0;
}

#funding-goal {
	color: #666;
}

.btn {
	margin-top: 20px;
}
